*.csproj
FlowerCollector1/FlowerCollector1/FlowerCollector1.csproj.user
*.suo
FlowerCollector1/FlowerCollector1/obj/x86/Debug/FlowerCollector1.csprojResolveAssemblyReference.cache
*.cache
FlowerCollector1/FlowerCollector1/GameThumbnail.png
*.ico
FlowerCollector1/FlowerCollector1/Properties/AssemblyInfo.cs
*.contentproj
FlowerCollector1.sln
FlowerCollector1/FlowerCollector1Content/character.png
*.png
*.exe
FlowerCollector1/FlowerCollector1/bin/x86/Debug/FlowerCollector1.pdb
*.xnb
FlowerCollector1/FlowerCollector1Content/obj/x86/Debug/FlowerCollector1Content.contentproj.FileListAbsolute.txt
*.txt
FlowerCollector1/FlowerCollector1/obj/x86/Debug/FlowerCollector1.pdb
*.xml
FlowerCollector1/FlowerCollector1/FlowerCollector1.csproj.Debug.cachefile
*.deploy
*.xwb
FlowerCollector1/FlowerCollector1/bin/x86/Debug/Content/sounds.xgs
*.application
*.wav
FlowerCollector1/FlowerCollector1Content/sounds.xap
*.manifest
FlowerCollector1/FlowerCollector1/bin/x86/Debug/Content/Sound Bank.xsb
*.pfx